@model AuctionHouse.Models.Database.User

@{
    ViewData["Title"] = "Buy tokens";
}

@{
    // Za dodavanje signalR skripti, da JS ne bi javljao gresku
    await Html.RenderPartialAsync ( "SignalRScriptsPartial" );
}

<div class="text-center mb-5">
    <h1 class="display-4">Welcome</h1>
    <p>Here You can buy tokens for auctions!</p>
</div>

<div class="mt-5 mb-5">
    <span style="font-size: 170%">Your number of tokens: </span>
    <span style="font-size: 170%" id="tokensNum_@Model.Id">@Model.tokens</span>
</div>

<div class="row">

    <div class="col-sm-12">
    
        <div class="card-group">

            <div class="card border-dark" style="background-color: silver;">

                <div class="card-header text-center">SILVER TOKENS GROUP</div>
                
                <div class="card-body">
                    <h3 class="card-title text-center mb-5">WHAT YOU GET?</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: silver;">5 tokens (1 token == 100$)</li>
                        <li class="list-group-item" style="background-color: silver;">Use them whenever You want.</li>
                    </ul>
                    <h4 class="text-center mt-5">Price:</h4>
                    <h3 class="text-center">18.99 $</h3>
                </div>

                <div class="card-header"></div>   

                <div class="mt-5 p-2">
                    <div id="paypal-silver"></div>
                </div>

            </div>

            <div class="card border-dark" style="background-color: gold;">

                <div class="card-header text-center">GOLD TOKENS GROUP</div>
                
                <div class="card-body">
                    <h3 class="card-title text-center mb-5">WHAT YOU GET?</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: gold;">10 tokens (1 token == 100$)</li>
                        <li class="list-group-item" style="background-color: gold;">Use them whenever You want.</li>
                    </ul>
                    <h4 class="text-center mt-5">Price:</h4>
                    <h3 class="text-center">33.99 $</h3>
                </div>

                <div class="card-header"></div>    

                <div class="mt-5 p-2">
                    <div id="paypal-gold"></div>
                </div>

            </div>

            <div class="card border-dark" style="background-color: #E5E4E2;">

                <div class="card-header text-center">PLATINUM TOKENS GROUP</div>
                
                <div class="card-body">
                    <h3 class="card-title text-center mb-5">WHAT YOU GET?</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: #E5E4E2;">20 tokens (1 token == 100$)</li>
                        <li class="list-group-item" style="background-color: #E5E4E2;">Use them whenever You want.</li>
                    </ul>
                    <h4 class="text-center mt-5">Price:</h4>
                    <h3 class="text-center">53.99 $</h3>
                </div>

                <div class="card-header"></div>    

                <div class="mt-5 p-2">
                    <div id="paypal-platinum"></div>
                </div>

            </div>

        </div>

        
    </div>

</div>

@if(ViewBag.myTokensOrders.Count != 0){
<div class="text-center mt-5 mb-5">
    <h1>Your tokens orders</h1>
    <p>- until now - </p>
</div>

<div class="row">
    <div class=" mt-2  mb-1 col-sm-12 col-xl-12 text-center">

            <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Id</th>
                            <th scope="col">Tokens number</th>
                            <th scope="col">Price</th>
                            <th scope="col">Order date</th>
                            <th scope="col">User</th>
                        </tr>
                    </thead>

                    <tbody>

                    @{ var i = 1; }
                    @foreach(var item in ViewBag.myTokensOrders)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.Id</td>  
                            <td>@item.tokensNumber</td>
                            <td>@item.price</td>
                            <td>@item.createDate</td>
                            <td>@item.user</td>
                        </tr>
                        i+=1;
                    }
                    </tbody>
            </table>
    </div>
</div>
}


