@using System.IO
@using System.Security.Claims
@model AuctionHouse.Models.Database.Auction

@{
    ViewData["Title"] = "Auction Details";
}

@{
    string id = "";
    var role = "";
    foreach (Claim claim in User.Claims){
        if (claim.Type.Equals ("id")){
            id = claim.Value;
        }else if (claim.Type.Equals (ClaimTypes.Role) ) {
            role = claim.Value;
            break;
        }
    }
}

@{
   string base64Data = Convert.ToBase64String(@Model.image);
}



<h1>Details</h1>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            
        </dd>
        <dt class = "col-sm-4">
            <img src="data:image/png;base64,@base64Data" width="100%" class="mb-2 mt-2"/>
        </dt>
        <dd class = "col-sm-8">
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startPrice) $
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.currentPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.currentPrice) $
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.openDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.openDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.closeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.closeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.state)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.owner.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.winner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.winner.Id)
        </dd>
    </dl>
</div>
<div>
    @if ( role == "User" ) {
        <a asp-action="Edit" asp-route-id=@Model.Id>Edit | </a>
        <a asp-action="MyAuctions" asp-route-id=@id>Back to List</a>
    }else{
        <a asp-action="Index">Back to List</a>
    }
    
</div>
